#termsofuse{
    width: 50%;
    text-align: center;
    margin: auto;
    
}

#termscontainer{
    width: 50%;
    align-content: center;
    margin: auto;
}

#termswrapper{
    margin: auto;
}

#pterms{
    font-weight: bold;
}

#termsh1{
    font-weight: bold;
}