body
{
    background-color: #1b1b1b;
    padding-top: 40px;

}

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    background-image: url(./bgimg.jpg);
    background-color: black;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    position: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    transform: translateY(-20%);
  }