#complaintform {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(255, 255, 255, 0.603);
    
    width: 90%;
    max-width: 90%;
    position: absolute;
    top: 100%;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  .complaintcontent{
    margin: 20px 20px 20px 20px; 
    position: relative;
    max-width: 95%;
  }

  .content{
    text-align: left;
    font-size: 20px;
    font-weight: 200px;

    margin: 20px 20px 10px 20px; 
    color: black;
  }

  p{
    text-align: left;
    margin: 10px 20px 20px 20px; 
  }

  .postcontainer{
    background-color: #003f478a;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 30px;
    width: 100%;
    max-width: 100%;
    position: center;
    padding: 0px;
    text-align: center;
    
  }